services:
  - type: web
    name: token-bot
    env: python
    buildCommand: |
      pip install -r requirements.txt
    startCommand: |
      python -m uvicorn main:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: PORT
        value: 10000
      - key: BOT_TOKEN
        sync: false
      - key: SUPABASE_URL
        sync: false
      - key: SUPABASE_KEY
        sync: false
      - key: ADMIN_ID
        sync: false
      - key: JWT_SECRET
        generateValue: true
    autoDeploy: true
